@font-face {
  font-family: "iconfont"; /* Project id 2789772 */
  src: url('//at.alicdn.com/t/font_2789772_6k6lf1lsag.woff2?t=1631267239704') format('woff2'),
       url('//at.alicdn.com/t/font_2789772_6k6lf1lsag.woff?t=1631267239704') format('woff'),
       url('//at.alicdn.com/t/font_2789772_6k6lf1lsag.ttf?t=1631267239704') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .68rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang1:before {
  content: "\e61c";
}

.icon-zanting_huaban:before {
  content: "\e637";
}

.icon-bofangliebiao:before {
  content: "\e609";
}

.icon-bofang:before {
  content: "\e634";
}

.icon-bofangliebiao1:before {
  content: "\e6a7";
}

.icon-zanting:before {
  content: "\e85f";
}

.icon-zuojiantou:before {
  content: "\e603";
}

.icon-right:before {
  content: "\eb1b";
}

.icon-yiguanzhu:before {
  content: "\e6b0";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-yinle1:before {
  content: "\e625";
}

.icon-wodedangxuan:before {
  content: "\e608";
}

.icon-guanzhu:before {
  content: "\e65f";
}

.icon-diantai:before {
  content: "\e601";
}

.icon-wodexianxing:before {
  content: "\e652";
}

.icon-diantai2:before {
  content: "\e60c";
}
